%ul.radicals
  - radicals.each do |radical|
    %li
      %span.chinese
        = radical.simplified
      %a.btn.btn-mini.btn-danger{:href => remove_radical_character_path(@character) + "?radical=#{ radical.id }", :title => "Unlink", :'data-method' => :delete, :'data-confirm' => "Are you sure?"}
        %i{:class=>"icon-trash"}
      