%ul.radicals
  - radicals.each do |radical|
    %li
      %span.chinese
        = link_to radical.simplified, radical
      %span.pinyin-small
        = radical.pinyin
      - if can? :destroy, @character
        %a.btn.btn-mini.btn-danger{:href => remove_radical_character_path(@character) + "?radical=#{ radical.id }", :title => "Unlink", :'data-method' => :delete, :'data-confirm' => "Are you sure?"}
          %i{:class=>"icon-trash"}
      