.jumbotron
  %h1
    Kangxi Radicals for iPhone
  %p
    Identify 1000 Chinese characters in just 3 clicks.
  %iframe{:width=>"560", :height=>"315", :src=> "//www.youtube.com/embed/V0kPNrwr4Mc", :frameborder=>"0", :allowfullscreen => "1"}
  %p
    %a.btn.btn-primary.btn-lg{:role=>"button", :href => "https://itunes.apple.com/us/app/kangxi-radicals/id701591926?mt=8"}
      Download from the App Store
  %p
    %a.btn.btn-info.btn-lg{:role=>"button", :href => "/tutorial.pdf", :target => "_blank"}
      Free practice PDF