%p 
  Each Chinese character can be deconstructed into 
  = succeed '.' do
    = link_to("radicals", "http://en.wikipedia.org/wiki/Kangxi_radical")
  Normal dictionaries only use one radical for each character, but I broke each character down into multiple radicals. This makes it easier to 
  = link_to "identify characters", lookup_path
  that you encounter in the real world.