- if user_signed_in?
  %ul.nav
    %li= link_to 'Lookup', lookup_path
    - if can? :index, Character
      %li= link_to 'Characters', characters_path
    - if can? :index, Radical
      %li= link_to 'Radicals', radicals_path
    - if user_signed_in? 
      %li= link_to "Logout", destroy_user_session_path, :method => :delete
    / - else
    /   %li= link_to "Login", new_user_session_path
