%h4
  Searching
  = link_to @radical.simplified, @radical, 'data-toggle' => "tooltip",  :title=> @radical.tooltip
  alternative radicals

%%table.lookup
  = render "first_radical"
  - if @radical.first_screen && @radical.tertiary_radicals.count > 0
    %tr
      %td{colspan: 4, align: "center"}
        =link_to "None of these", first_radical_lookup_more_characters_path(@radical)
          
%p  
  Select a second radical from these alternatives
  
- if Rails.env == "production" && !(user_signed_in? && current_user.class.name == "Admin")
  :javascript
    mixpanel.track("Lookup Radical 1", {"Radical": "#{@radical.simplified}", "Alternatives": 1});