%table.lookup
  = render "index", :number => 1
  %tr
    %td{colspan: 4, align: "center"}
      =link_to "None of these", more_radicals_path
%h3
  1000 Chinese characters within 3 clicks.
%p
  Do you recognize any of the radicals above in the character which you are trying to identify? E.g. if you're looking for 
  %span.chinese 阴 
  then click on 
  = succeed '.' do
    %span.chinese 月

- if Rails.env == "production" && !(user_signed_in? && current_user.class.name == "Admin")
  :javascript
    mixpanel.track("Lookup");