.page-header
  Do you recognize any of the radicals below in the character which you are trying to identify?
%table
  - @radicals.each_slice(4) do |row|
    %tr
      - row.each do |radical|
        %td.chinese
          = link_to radical.simplified, radical_lookup_path(radical)