.page-header
  %h3
    Characters containing the radical 
    = @radical.simplified
%table.lookup
  - @characters.each_slice(4) do |row|
    %tr
      - row.each do |character|
        %td.chinese-lookup
          = link_to character.simplified, character
          
- if Rails.env == "production" && !(user_signed_in? && current_user.class.name == "Admin")
  :javascript
    mixpanel.track("Lookup Radical 1", {"Radical": "#{@radical.simplified}"});