.page-header
  %h3
    = link_to @first_radical.simplified + " " + @second_radical.simplified, @radical
    characters

%table.lookup
  = render "characters"  
- if Rails.env == "production" && !(user_signed_in? && current_user.class.name == "Admin")
  :javascript
    mixpanel.track("Lookup Radical 2", {"Radical 1": "#{@first_radical.simplified}", "Radical 2": "#{@second_radical.simplified}"});